:root {
    --background-color: white;
    --background-light: white;
    --background-dark: rgba(0, 0, 0, 0.652);
    --primary-color: rgb(30, 255, 255);
    --text-color-light: rgb(65, 65, 65);
    --text-color-dark: white;
    --font-size: 16px;
    --animation-speed: 1;
    --box-shadow: rgba(54, 53, 53, 0.314);
}

.recipePageLayout {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; */
    margin: 20px;
    display: grid;
    grid-template-columns: 75% 25%;
}
.recipeTop {
    display: grid;
    text-align: center;
    grid-template-columns: auto auto;
    margin-bottom: 10vh;
}
.rightRecipe {
    margin-left: 20px;
    width: 100%;
}

.recipePageTitle {
    width: 100%;
}
.recipePageImage {
    width: 400px;
    height: 400px;
}
.ingredients {
    grid-area: ingredients;
}
.instructions {
    grid-area: instructions;
}
.list,
.instr {
    margin: 15px;
}
.ingr {
    margin: 5px;
}
.mgn-10 {
    margin: 10px;
}
